[Desktop Entry]
Version=1.0
Type=Application
Name=Google Chrome
Comment=Browse the web
Exec=/usr/local/bin/google-chrome --no-first-run %U
Icon=google-chrome
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true

