[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Open a command line
Exec=mate-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true

